bld
*-t
*.Plo
*.Po
*.a
*.bb
*.bbg
*.bin
*.cdf
*.core
*.d
*.da
*.dir
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.gcov
*.idb
*.ilk
*.la
*.lai
*.lib
*.lo
*.manifest
*.map
*.o
*.obj
*.old
*.pch
*.pdb
*.reject
*.res
*.rule
*.sbr
*.so
*.so.*
*.spec
*.user
*.vcproj
*.vcproj.cmake
*.vcxproj
*.vcxproj.filters
*/*.dir/*
Debug
Release
MySql.sdf
Win32
*/*_pure_*warnings
*/.deps
*/.libs/*
*/.pure
*/debug/*
*/minsizerel/*
*/release/*
RelWithDebInfo
*~
.*.swp

mysql-test/collections/default.release